<% include layout/header %>
<% include layout/sidebar %>  
<div class="pcoded-content">
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-clipboard bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Complaint Response</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="feather icon-home"></i></a>
                        </li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5><%=complaint.complaint%></h5>
                                </div>
                                <div class="card-block">
                                    <form id="main" method="post" action="/student-complaints/reply" validate>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Response</label>
                                            <div class="col-sm-10">
                                                <textarea rows="5"  class="form-control" placeholder="New Complaint" name="response"></textarea>
                                                <span class="messages"></span>
                                            </div>
                                        </div>
                                        <input type="hidden" value="<%=id%>" name="complaint_id">
                                        
                                        <div class="form-group row">
                                            <label class="col-sm-2"></label>
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary m-b-0">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include layout/footer %>